h1 Books
    p
      a.button(href='/books/new_book') Create New Book
    p
      | Filters 
      a(href='all_books') All
      |  
      a(href='overdue') Overdue
      |  
      a(href='checked_out') Checked Out
    p  